In [1]:
import pandas as pd
import numpy as np

In [2]:
dfWind = pd.read_pickle('./dfconcatWind44005.pkl')

In [3]:
dfWind.head()

,APD,ATMP,BAR,DEWP,DPD,GST,MWD,PRES,TIDE,VIS,WD,WDIR,WSPD,WTMP,WVHT,mm
datetime,,,,,,,,,,,,,,,,
2002-01-01 00:00:00,4.84,1.3,1009.9,999,6.25,16,999,NaN,99,99,255.0,NaN,12.4,7.1,2.17,NaN
2002-01-01 01:00:00,4.94,1.3,1010.8,999,6.25,15.2,999,NaN,99,99,257.0,NaN,12.3,7,2.07,NaN
2002-01-01 02:00:00,5.11,1.2,1010.9,999,6.25,15.8,999,NaN,99,99,258.0,NaN,12.5,7,2.33,NaN
2002-01-01 03:00:00,5.29,1.2,1010.9,999,6.67,16.7,999,NaN,99,99,257.0,NaN,13.2,7.1,2.53,NaN
2002-01-01 04:00:00,5.14,0.9,1010.9,999,5.88,15.2,999,NaN,99,99,267.0,NaN,12.4,7.1,2.43,NaN

In [4]:
dfWindSub = dfWind.loc[:,['WVHT', 'WTMP', 'WSPD','WD', 'WDIR']]

In [5]:
dfWindSub.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127662 entries, 2002-01-01 00:00:00 to 2001-12-31 23:00:00
Data columns (total 5 columns):
WVHT    127662 non-null object
WTMP    127662 non-null object
WSPD    127662 non-null object
WD      58184 non-null float64
WDIR    69478 non-null object
dtypes: float64(1), object(4)
memory usage: 5.8+ MB

In [ ]:
# doesn't work: there's a 'degT string somewhere, probably sub-header of newer files.
# also, there's a nan and '999' somewhere. What comes next cleans and 
# consolidates all wind direction data under a single column, "WDIR"
dfWindSub['WDIR'] = dfWindSub.WDIR.astype('f8')

In [10]:
dfWindSub.loc[dfWindSub.WDIR=='degT', :]

             WVHT  WTMP WSPD  WD  WDIR
datetime
#yr mo dy hr    m  degC  m/s NaN  degT
#yr mo dy hr    m  degC  m/s NaN  degT
#yr mo dy hr    m  degC  m/s NaN  degT
#yr mo dy hr    m  degC  m/s NaN  degT
#yr mo dy hr    m  degC  m/s NaN  degT
#yr mo dy hr    m  degC  m/s NaN  degT
#yr mo dy hr    m  degC  m/s NaN  degT
#yr mo dy hr    m  degC  m/s NaN  degT
#yr mo dy hr    m  degC  m/s NaN  degT

In [11]:
dfWindSub.drop("#yr mo dy hr", inplace=True)

In [12]:
dfWindSub.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127653 entries, 2002-01-01 00:00:00 to 2001-12-31 23:00:00
Data columns (total 5 columns):
WVHT    127653 non-null object
WTMP    127653 non-null object
WSPD    127653 non-null object
WD      58184 non-null float64
WDIR    69469 non-null object
dtypes: float64(1), object(4)
memory usage: 5.8+ MB

In [14]:
dfWindSub['WDIR'] = dfWindSub.WDIR.astype('f8')

In [19]:
dfWindSub.replace(999, np.NaN, inplace=True)

In [20]:
dfWindSub['WVHT'] = dfWindSub.WVHT.astype('f8')

In [21]:
dfWindSub['WTMP'] = dfWindSub.WTMP.astype('f8')

In [22]:
dfWindSub['WSPD'] = dfWindSub.WSPD.astype('f8')

In [25]:
dfWindSub.max()

WVHT     99.0
WTMP    999.0
WSPD     99.0
WD      360.0
WDIR    360.0
dtype: float64

In [26]:
dfWindSub.replace({'WVHT': {99.0: np.NaN}, 'WTMP': {999.0: np.NaN}, 'WSPD': {99.0: np.NaN}}, inplace=True)

<class 'pandas.core.frame.DataFrame'>
Index: 127653 entries, 2002-01-01 00:00:00 to 2001-12-31 23:00:00
Data columns (total 5 columns):
WVHT    124887 non-null float64
WTMP    124092 non-null float64
WSPD    120296 non-null float64
WD      53488 non-null float64
WDIR    58124 non-null float64
dtypes: float64(5)
memory usage: 10.8+ MB

In [33]:
dfWindSub['WDIR'] = dfWindSub.WDIR.combine_first(dfWindSub.WD)

In [37]:
dfWindSub.drop('WD', axis=1, inplace=True)

In [41]:
dfWindSub.dropna(inplace=True)

In [42]:
dfWindSub.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108811 entries, 2002-01-01 00:00:00 to 2001-12-31 23:00:00
Data columns (total 4 columns):
WVHT    108811 non-null float64
WTMP    108811 non-null float64
WSPD    108811 non-null float64
WDIR    108811 non-null float64
dtypes: float64(4)
memory usage: 4.2+ MB

In [43]:
dfWindSub.describe()

                WVHT           WTMP           WSPD           WDIR
count  108811.000000  108811.000000  108811.000000  108811.000000
mean        1.478113      10.225508       6.696157     200.344882
std         0.927685       4.897427       3.638480      98.696574
min         0.000000       1.500000       0.000000       0.000000
25%         0.830000       5.900000       3.900000     133.000000
50%         1.220000       9.400000       6.200000     211.000000
75%         1.880000      13.900000       9.100000     279.000000
max        11.570000      28.300000      24.100000     360.000000

In [45]:
dfWindSub.to_pickle('./dfCleanWind.pkl')